@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@font-face { font-family: "Open Dyslexic"; src: url("/assets/OpenDyslexic-Regular.otf"); }

.menu-button {
    width: 50%;
}

.center-text {
    text-align: center;
}

h1 {
    width: 100%;
    font-family: Bungee;
}

.hidden {
    visibility: hidden;
    font-family: "Open Dyslexic";
}

.black {
    color: black;
}

.red {
    color: firebrick;
}

.blue {
    color: mediumblue;
}

.green {
    color: green;
}

.turquoise {
    color: turquoise;
}

.purple {
    color: rebeccapurple;
}

.pink {
    color: hotpink;
}

.yellow {
    color: gold;
}

#error {
    color: red;
}

.error {
    color: red;
}

.survey-question > input {
    padding: 0;
    margin: 0;
    margin-left: 1%;
}

.survey-question > label {
    padding: 0;
}

hr {
    margin: 20px 0;
}

#stroopword {
    font-family: "Open Dyslexic";
}

canvas {
    border: 1px solid black;
}

.stroop-button {
    width: 90px;
}