.menu-button {
    width: 50%;
}

.center-text {
    text-align: center;
}

h1 {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.black {
    color: black;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#error {
    color: red;
}

.survey-question > input {
    padding: 0;
    margin: 0;
    margin-left: 1%;
}

.survey-question > label {
    padding: 0;
}

hr {
    margin: 20px 0;
}