.menu-button {
    width: 50%;
}

.center-text {
    text-align: center;
}

h1 {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.black {
    color: black;
}

.red {
    color: red;
}

.blue {
    color: blue;
}